# Strings

In [2]:
name = 'Tomas'

In [4]:
print()name

Tomas

In [7]:
print(name[0])
print(name[1])

T
o
5

In [8]:
print(len(name))

5

# Slicing

In [15]:
text = 'Hello world'
print(  text[:5] )

Hello

In [1]:
text = 'I cant go today'
print(  text[1:9] )
print(  text[::-1] )
print(text [text.find('go'):])
print(text [text.find('today'):])

 cant go
yadot og tnac I
go today
today

In [2]:
print('hi')

hi

In [5]:
name = 'tomas'
print( f'{name}')

tomas

In [9]:
name = 'tomas'
surname = 'stankevic'
print(name,surname)

tomas stankevic

In [23]:
text = 'Python makes me happy.'

print(text.upper())
print(text.replace('Python', 'mama'))

PYTHON MAKES ME HAPPY.
mama makes me happy.

In [39]:
text = 'Hello world. I am happy to learn Python'
print(len(text))

39

Operations

In [11]:
print (2**3)
print (150//10)
print (25%2)

8
15
1

In [12]:
my_sum = 5
my_sum = my_sum*5
print(my_sum)

25

In [16]:
from datetime import date
d0 = date(1983, 1, 7)
d1 = date.today()
print(d0)
print(d1)
delta = d1- d0
print(delta.days)

1983-01-07
2023-03-07
14669

boolean

In [21]:
bool_true = True
print(bool_true)
print(type(bool_true))
bool_false = False
print(bool_false)

True
<class 'bool'>
False

not

In [24]:
print(not False)

True

## and, or

In [35]:
print(bool(0))

False

## LIST

In [45]:
cities = ['Vilnius', 'Kaunas', 'London']
print(cities)
print(type(cities))
print(cities[2])
print(cities[:])
print(cities[1:1])

['Vilnius', 'Kaunas', 'London']
<class 'list'>
London
['Vilnius', 'Kaunas', 'London']
[]